{% set fixedCategories = ["indian-economy", "personal-finance","rural-finance","digital-banking", "fintech-innovation"] %}

<ul class="blog-category-list">
  <!-- Always show All -->
  <li><a href="/">All</a></li>
  <li><a href="/category/indian-economy/">Indian Economy</a></li>
  <li><a href="/category/personal-finance/">Personal Finance</a></li>
  <li><a href="/category/rural-finance/">Rural Finance</a></li>
  <li><a href="/category/digital-banking/">Digital Banking</a></li>
  <li><a href="/category/fintech-innovation/">Fintech Innovation</a></li>

<!-- Dropdown for remaining categories -->
<li style="position:relative">
      <label for="desktop-category-dropdown" id="category-dropdown-desktop-placeholder">More Categories</label>
  <select id="desktop-category-dropdown"  >
    <option disabled hidden >More Categories</option>
    {% for cat in categories %}
      {% if cat not in fixedCategories %}
        <option value="{{ cat | slugify | safe }}">
          {{ cat | replace("-", " ") | capitalize | safe }}
        </option>
      {% endif %}
    {% endfor %}

  </select>

</li>
</ul>


<div class="categroy-dropdown-container">
<label for="categroy-dropdown" style="opacity:0 "></label>
<select id="categroy-dropdown" name="blogs-categories"">
  <option value='all'>ALL</option>
  {% for cat in categories %}
    <option value="{{ cat | slugify }}">
      {{ cat | replace("-", " ") | capitalize }}
    </option>
  {% endfor %}
</select>

</div>