{% set fixedCategories = ["ipo-watch", "upi-credit","fintech-trends","startup-funding", "markets-and-policy"] %}

<ul class="blog-category-list">
  <!-- Always show All -->
  <li><a href="/">All</a></li>
  <li><a href="/category/ipo-watch/">IPO Watch</a></li>
  <li><a href="/category/upi-credit/">UPI Credit</a></li>
  <li><a href="/category/fintech-trends/">Fintech Trends</a></li>
  <li><a href="/category/startup-funding/">Startup Funding</a></li>
  <li><a href="/category/markets-and-policy/">Markets And Policy</a></li>

<!-- Dropdown for remaining categories -->
<li style="position:relative">
      <label for="desktop-category-dropdown" id="category-dropdown-desktop-placeholder">More Categories</label>
  <select id="desktop-category-dropdown"  >
    <option disabled hidden >More Categories</option>
    {% for cat in categories %}
      {% if cat not in fixedCategories %}
        <option value="{{ cat | slugify }}">
          {{ cat | replace("-", " ") | capitalize }}
        </option>
      {% endif %}
    {% endfor %}

  </select>

</li>
</ul>


<div class="categroy-dropdown-container">
<label for="categroy-dropdown" style="opacity:0 "></label>
<select id="categroy-dropdown" name="blogs-categories"">
  <option value='all'>ALL</option>
  {% for cat in categories %}
    <option value="{{ cat | slugify }}">
      {{ cat | replace("-", " ") | capitalize }}
    </option>
  {% endfor %}
</select>

</div>