{% set fixedCategories = ["emi-basics", "credit-score","investment-tips","debt-management", "financial-planning", "debt-management"] %}

<ul class="blog-category-list">
  <!-- Always show All -->
  <li><a href="/">All</a></li>
  <li><a href="/category/credit-score/">CREDIT SCORE</a></li>
  <li><a href="/category/emi-basics/">EMI BASICS</a></li>
  <li><a href="/category/financial-planning/">Financial Planning</a></li>
  <li><a href="/category/investment-tips/">Investment Tips</a></li>
  <li><a href="/category/debt-management/">Debt Management</a></li>

<!-- Dropdown for remaining categories -->
<li style="position:relative">
      <label for="desktop-category-dropdown" id="category-dropdown-desktop-placeholder">More Categories</label>
  <select id="desktop-category-dropdown"  >
    <option disabled hidden >More Categories</option>
    {% for cat in categories %}
      {% if cat not in fixedCategories %}
        <option value="{{ cat | slugify }}">
          {{ cat | replace("-", " ") | capitalize }}
        </option>
      {% endif %}
    {% endfor %}

  </select>

</li>
</ul>


<div class="categroy-dropdown-container">
<label for="categroy-dropdown" style="opacity:0 "></label>
<select id="categroy-dropdown" name="blogs-categories"">
  <option value='all'>ALL</option>
  {% for cat in categories %}
    <option value="{{ cat | slugify }}">
      {{ cat | replace("-", " ") | capitalize }}
    </option>
  {% endfor %}
</select>

</div>