<footer class="footer">

        <div class="footer-container">
          <div class="footer-menu-container">
            <ul class="footer-child1">
              <li><a href="https://www.billcut.com/aboutus">About Us</a></li>
<li><a href="https://www.billcut.com/partners">Our Partners</a></li>

              <li><a href="https://sachet.rbi.org.in/">RBI Sachet</a></li>
              <li><a target="_blank" href="https://cms.rbi.org.in/cms/indexpage.html#eng">RBI CMS</a></li>
            </ul>
  
          
              <ul class="footer-child2">
                <li><a href="https://www.billcut.com/data-security">Privacy &amp; Data Security</a></li>
                <li><a href="https://www.billcut.com/termsAndCondition">Terms &amp; Conditions</a></li>
                <!-- <li><a href="#">Refund Policy</a></li> -->
                <li><a href="https://www.billcut.com/aboutus">Team</a></li>
                <!-- <li><a href="#">Blogs</a></li> -->
                <!-- <li><a href="#">FAQ’s</a></li> -->
              </ul>
            
              </div>
          <div style="">
            <div class="footer-child3">
               <img id="footer-img" src="/assets/images/1740736941606_400x122.webp" alt="BillCut logo" />
            <div class="footer-icon-contianer">
              <a href="https://www.instagram.com/billcut_com/?hl=en"><img class="footer-icon" src="/assets/icons/instaIcon.svg" alt="instagram-icon" loading="lazy"></a>
              <img class="footer-icon" src="/assets/icons/twitterIcon.svg" alt="twitter-icon" loading="lazy">
              <a href="https://in.linkedin.com/company/billcut-com"><img class="footer-icon" src="/assets/icons/linkedinIcon.svg" alt="linkedin-icon" loading="lazy"></a>
            </div>
            </div>
             <section style="" class="contact-us-container">
    
    <div class="contact-us-child">
        <p>Please send an email with your query , name and phone number to </p>
        <a class="email-value" href="mailto:help@billcut.com">help@billcut.com</a>
    </div>
 </section>
          </div>
        </div>

          <p class="footer-child4">© 2025 BillCut (Billplan Fintech Pvt&nbsp;Ltd)</p>
          



</footer>