<section class="page-1">
  <section class="hero-section">
  <div class="heading-container-1">
  <h1 class="hero-heading-1">
  <span class='learn-hero-heading'>Learn</span>  Practical Ways</h1>
    <h1 class="hero-heading-1">
        to <span id="blue-heading-1">Save More Money!</span>
    </h1>
  </div>
  <div class="heading-container-2"> 
    <p class="hero-heading-2">Master financial strategies to save  </p>
    <p class="hero-heading-2">thousands on interest!</p>
  </div>
  </section>
</section>