*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

/* the meta-data styling */
.blog-details-outer-container{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 110px;
    width: 100%;
}
.blog-details-container{
    font-family: "Inter","Montserrat",'Fustat','Arial','sans-serif';
    padding: 3rem 1.5rem 3rem 0;
    max-width: 56rem;
    /* border: 1px solid red; */
}
.blog-path-map{
    position: absolute;
    top: 80px;
    width: 100%;
    padding:  1rem  1.5rem;
    font-family: "Inter","Montserrat",'Fustat','Arial','sans-serif';
    text-transform: capitalize;
    font-size: 0.8rem;
    background-color: #F9FAFB;
    /* border: 1px solid green; */
    font-size: 0.8rem;
    color: rgba(40, 38, 40, 0.7);
}
.back-to-articles-container{
    display: flex;
    gap: 0.4rem;
    align-items:center;
    margin-bottom: 2rem;
    color: #1570EF;
}
.back-to-articles{
color: #1570EF;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 0.3rem;
  text-decoration: none;
}
.back-to-articles-container:hover{
    opacity: 0.7;
}
.fixed-blog-path{
    color: #4772FF;
}
#fixed-blog-path-title{
    /* color: #4772FF; */
}
#blogs-category{
    background-color: #ffd46f;
    display: inline;
    padding:0.5rem 1rem;
    border-radius: 8px;
    text-transform:uppercase;
    font-weight: 500;
    font-size: 0.75rem;
}
#blog-details-title{
    margin-top: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #282628;
}
#blog-excerpt{
    color: rgba(40, 38, 40, 0.7);
    font-size: 1.25rem;
    margin: 1rem 0;
}
#author-details{
    margin  :2rem 0 1.5rem  0;
    color: #282628;
}
.blog-image-container{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    height: 70vh;
    border-radius: 1rem;
    overflow: hidden;
}
#blog-image{
    width: 100%;
    transform: scaleX(1.3);
    height: 100%;
    border-radius:1rem ;
    /* border: 1px solid blue; */
    /* height: 50vh; */
}

/* the content styling */
.content{
    /* border: 1px solid lawngreen; */
    margin-top: 3rem;
    color: #282628;
}

.content p{
    /* font-size: 0.9rem;
    margin: 0 0 1rem 0;
    letter-spacing: 1.5px;
    line-height: 1.5;
    color: #282628e3; */

    font-size: 1rem;
    margin: 0 0 1rem 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
    /* color: #282628c2; */
    color: #282628;
}
.content h3{
    margin: 1.5rem 0 0.7rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.content a{
/* color: #4772FF; */
color: rgba(71, 114, 255, 1);
}

blockquote{
    background-color: #f0f8ff;
    padding: 1rem;
    border-radius: 4px;
    border-left:4px solid #4772FF ;
}
blockquote>p{
    line-height: 1.7 !important;
}
.blog-details-container ul{
    margin-left: 2.5rem;
}
.blog-details-container li{
    margin:1rem 0.5rem;
}
strong{
    font-weight: 600;
}
#sources-list{
font-size: 0.9rem;
font-weight: 100;
margin-left: 2rem;
padding-bottom: 2rem;
}
#sources-list>li{
    list-style: none;
    color: #666666;
    font-weight: 400;
}
#before-you-go-para{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;

}

#yellow-line{
    border: 1px solid #ffebbc80;
}
#tags-text{
    font-weight: 600;
    border: none !important;
    padding: 0 !important;
}
#tags-list>li{
    border: 1px solid #e2e8f0;
    padding: 0.2rem 0.7rem;
    border-radius: 6px;
    font-weight: 600;
}
#tags-list{
    list-style: none;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 0.8rem;
    border: none;
}
#blog-details-icon-container>a>img{
    width: 40px;
    height:40px;
}
  #blog-details-icon-container {
    position: fixed; 
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0.8rem 1rem;
    background-color: #FFFFFF;
    transition: opacity 0.4s ease-in-out;
  }

  /* show when active */
  #blog-details-icon-container.show {
    opacity: 1;
  }
  #blog-details-share-btn {
  background-color: transparent;
  border-radius: 21px;
  color: #000000;
  
}

/* mobile */
@media (max-width: 480px){
  .blog-details-container{
    padding: 3rem 1.5rem 3rem 1.4rem;
  }
  #blog-details-title{
    font-size: 36px;
  }
  .blog-image-container{
    /* display: flex; */
    /* justify-content: center; */
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
}
  #blog-image{
    aspect-ratio: 16/9;
    transform: none;
  }
}

/* tablet */
@media (min-width: 481px  ) and (max-width:1023px ) {
    .blog-details-container{
    padding: 3rem 1.5rem 3rem 1.4rem;
  }
  .blog-image-container{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    height: 70vh;
    border-radius: 1rem;
    overflow: hidden;
}
}

/* desktop */
@media (min-width: 1024px){
    #blog-details-icon-container {
    flex-direction: column-reverse;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background-color: transparent;
    border: none;
  }
  #blog-details-share-btn {
    font-size: 0.5rem;
padding-right: 0.3rem;
    font-weight: 900;
    order: -1;
  }
  .share-all-btn{
    padding: 0.3rem;
    border-radius: 100%;
    background-color: #000000;
    cursor: pointer;
  }
}