.footer{
  font-family: "Montserrat",'Fustat','Arial','sans-serif';
  background-color: var(--footer-background-color);
  width: 100%;
}
.footer-container{
  border-bottom: 1px solid #cccccc4f;
}
.footer-child1,.footer-child2,.footer-child3{
  color: #000000 !important;
  font-weight: 500;
  list-style: none;
}


/* tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    /* footer */
 
    .footer-container{
        display: flex;
        align-items: start;
        padding: 2rem 0rem 0rem 3.3rem ; 
        gap: 25%;
        font-family: "Montserrat",'Fustat','Arial','sans-serif';
        width: 100%;
    }
    .footer-menu-container{
        order: 2;
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        padding: 0 3rem 0 0;
    }
    .footer-child1,.footer-child2{
        padding: 0 0 1.2rem 0;
        list-style: none;
        text-decoration: none;
        line-height: 1.7;
        margin-right: 2rem;
        min-width: 9rem;
    }
    .footer-child2{
        /* border: 1px solid crimson; */
        /* min-width: 200px; */
    }
   
    .footer-child1 li a,.footer-child2 li a{
        text-decoration: none;
        color: var(--footer-color) ;
font-size: 0.8rem;
    }
    .footer-child3{
        width: 28%;
    }
    #footer-img{
        width: 100%;
        min-width: 140px;
    }
    .contact-us-container{
        width: 225px;
        background-color: #FFFFFF;
        padding: 1rem 0.4rem 1.5rem 1rem;
        margin-top: 1rem;
        border-radius: 16px;
        font-size: 0.8rem;
    }
    .footer-icon-contianer{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.2rem 0;
        min-width: 140px;
    }
    .footer-icon{
        width: 20px;
        height: 20px;
    }

    .footer-child4{
        font-size: 1rem;
        text-align: center;
        color: var(--footer-color);
        font-weight: 400;
        padding: 1rem;
    }

}

/* desktop */
@media (min-width:1024px){
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 2rem 5.8rem 1rem 1.5rem ; 
        width: 100%;
    }
    .footer-menu-container{
        order: 2;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 40%;
    }
    .footer-child1,.footer-child2{
        padding: 0 0 1.2rem 0;
        list-style: none;
        text-decoration: none;
        line-height: 2.4;
    }
    .footer-child1 li a,.footer-child2 li a{
        text-decoration: none;
        color: var(--footer-color) ;
        font-size: 1.1rem;
    }
    .footer-child3{
        padding: 0 0px 1.5rem 1rem;
        width: fit-content;
    }
    #footer-img{
        width: 150px;
        height: 45px;
        min-width: 140px;
        margin: 0 0 0.5rem 0 ;
    }
     .contact-us-container{
        width: 290px;
        background-color: #FFFFFF;
        padding: 1rem 0.4rem 1.5rem 1rem;
        border-radius: 16px;
        font-size: 0.8rem;
    }
    .footer-icon-contianer{
        display: flex;
        min-width: 140px;
        justify-content: space-between;
        padding: 1rem 0.2rem 0;
    }
    .footer-icon{
        width: 28px;
        height: 28px;
    }

    .footer-child4{
        font-size: 0.8rem;
        text-align: center;
        color: var(--footer-color);
        font-weight: 400;
        padding:2rem 1rem ;
    }
}

/* mobile */
@media (max-width:480px){
    .footer{
        background-color: var(--footer-background-color);
        padding: var(--padding-vertical) 20px 35px
        20px;
        font-family: 'Gabarito';
    }
    .footer-child1{
        padding: 0 0 20px 0;
        list-style: none;
        text-decoration: none;
        line-height: 1.7;
    }
    .footer-child2{
        list-style: none;
        text-decoration: none;
        line-height: 1.5;
    }
    .footer-child1 li a,.footer-child2 li a{
        text-decoration: none;
        color: var(--footer-color);
        font-weight: 400;
font-size: 17px;
    }
    .footer-child3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px 24px 0;
        position: relative;
    }
    #footer-img{
        width: 110px;
        height: 33px;
    }
    .contact-us-container{
        padding: 20px 0 30px;
        display: none;
    }
    .footer-icon{
        width: 20px;
        height: 20px;
        margin: 0 14px 0 0;
    }

    .footer-child4{
        font-size: 10px;
        text-align: center;
color: var(--footer-color);
font-weight: 400;
    }

}

/* bigger screens */
@media (min-width:1500px){
    /* footer */
.footer{
    background-color: var(--footer-background-color);
    font-family: 'Gabarito';  
              display: flex;
              flex-direction: column;
              justify-content:space-between;
              width: 100%;
              height: 50vh;
              padding: 0rem 0 0 0;
              position: relative;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0rem 5.8rem 0rem ; 
    position: absolute;
    top: 20%;
    width: 100%;
}
.footer-menu-container{
    order: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 40%;
}
.footer-child1{
    padding: 0 0 1.2rem 0;
    list-style: none;
    text-decoration: none;
    line-height: 2.4;
}
.footer-child2{
    list-style: none;
    text-decoration: none;
    line-height: 2;
}
.footer-child1 li a,.footer-child2 li a{
    text-decoration: none;
    color: var(--footer-color) ;
font-size: 1.1rem;
}
.footer-child3{
    width: 15%;
    padding: 0 0px 1.5rem 1rem;
}
#footer-img{
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0 ;
}
.footer-icon-contianer{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0.2rem 0;
}

.footer-child4{
    font-size: 1rem;
    text-align: center;
    color: var(--footer-color);
    font-weight: 400;
    padding:0 0 2rem 0 ;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
}