@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* colors */
    --primary-color:#FFD46F;
    --background-color:#FFFFFF;
    --text-color:#282628;
    --get-started-btn-text-color:#444444;
    --accent-color:#6F9AFF;
    --footer-background-color:#F5F5F5;
    --footer-color:rgba(18, 18, 18, 0.8);
    --partners-page-placeholder-img-color: #FFF3D6;
    --partners-page-placeholder-text-color: #A7790E;
    --financial-page-border-color: #000000;
    /* --bill-amount-bg-color: #FFEBBC; */
    --bill-amount-bg-color: rgba(255, 235, 188, 0.5);
    --principle-amount-bg-color: #FFCF5E;
    --interest-amount-bg-color: #FFEEC7;
    --request-otp-button-color:#1570EF;
    --request-otp-border-color:#D0D5DD;
    --request-otp-modal-shadow-color:#1018283e;
    --otp-verify-border-color:#84CAFF;
    --otp-verify-text-color:#1570EF;
    --terms-and-condition-color: #175CD3;
    --see-more-btn-color: #0086C9;
    --emi-card-border-color: #039855 ;
    --emi-card-bg-color: rgba(255, 242, 212, 0.2);

    /* font-family */
    --font-heading-manrope:'Manrope','sans-serif';
    --font-bold-gil:'Fustat','sans-serif';
    --font-extrabold-gil:'Fustat','sans-serif';
    --font-medium-gil:'Fustat','sans-serif';
    --font-semibold-gil:'Fustat','sans-serif';
    --font-regular-gil:'Fustat','sans-serif';
    --font-heavy-gil:'Fustat','sans-serif';
    --font-heading-inter:'Inter','sans-serif';
    

     /* font-size */
     --heading-text:7.9vw;
     --subheading-text:15px;
     --heading-text-desk:5.3rem;
     --subheading-text-desk:1.3rem;


     --text-xs:10px;
     --text-sm:12px;
     --text-normal:14px;
     --text-lg:18px;

    /* spacing */
    --padding-vertical:24px;
    --padding-horizontal:34px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#nav-icon{
}
.page-1{
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.hero-section{
  /* position: absolute; */
  /* top: 80px; */
  /* left: 0; */
  width: 100%;
  height: fit-content;
  padding: 9% 0 7% 0;
  font-family: "Inter","Montserrat",'Fustat','Arial','sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .learn-hero-heading{
  background-color: #22c55e4d;
  height: 58px;
  width: 225px;
  position: absolute;
  top: 12px;
  left: -5px;
  z-index: -1;
  transform: skew(-15deg);
  visibility: hidden;
    border-top-right-radius: 3px;
    border-bottom-left-radius:3px;
  animation: 1.5s ease-in 1s forwards learn-hero-heading-width;
}
@keyframes learn-hero-heading-width {
  from {width: 0px;
    visibility: hidden;
}
  to  {width: 225px;
    visibility: visible;
  }
} */
.hero-heading-1{
  font-size: 3rem;
  color: #1a1a1a;
  line-height: 1.1;
  position: relative;
}
.heading-container-2{
margin: 1rem 0 0 0;
}
.hero-heading-2{
  color: #6B7280;
  font-size: 1.5rem;
  text-align: center;
}
#blue-heading-1{
  color: #4772FF;
}
.all-blogs-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 2rem 3rem;
  margin-top: 2rem;
  font-family: "Inter","Montserrat",'Fustat','Arial','sans-serif';
  border-top: 1px solid #cccccc2d;
}
.blog-thumbnail{
  width: 200px;
  height: 180px;
    width: 100%;
    transition: 0.2s ease-in-out;
}
.single-blog-container{
  display: none;
  box-shadow: 1px 1px 1px #cccccc70;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 12px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  flex: 1 0 250px;
  max-width: 270px;
}
.single-blog-container.visible{
  display: block;
}
.single-blog-container:hover{
.blog-thumbnail{
  transform: scale(1.1); 
}
#blog-date,#read-more-btn{
  color: #1570EF;
  font-weight: 500;
}
transform: scale(1.08);
}

.single-blog-text-container{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0 1.2rem 0 1rem;
  margin: 1rem 0 0 0;
}
.single-blog-link{
  text-decoration: none;
  color: #000000;
}
#blog-date{
color: #6B7280;
font-size: 0.8rem;
display: flex;
justify-content: space-between;
}
#blog-title{
font-size: 1.2rem;
line-height: 1.3;
font-weight: 700;
}
#blog-data-excerpt{
  color: #4B5563;
  font-size: 0.8rem;
}
#read-more-btn{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.blog-category-list{
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  color: #6B7280;
  font-family: "Inter","Montserrat",'Fustat','Arial','sans-serif';
}
.blog-category-list>li{
  font-size: 1rem;
  text-transform:uppercase;
  z-index: 10;
  cursor:pointer;
}
.blog-category-list>li>a{
  color: #282628b0;
  font-weight: 400;
  text-decoration: none;
}
.active-blog-category{
  text-decoration: underline;
  color: red;
}
.blog-category-list>li>a:hover{
color: #000000d2;
}
.blog-category-list a.active {
  border-bottom: 2px solid #000000;
  color: #000000;
  padding-bottom: 0.5rem;
}

.blog-category-list>li:active{
  border-bottom: 2px solid black;
}
#yellow-line{

}

.categroy-dropdown-container{
  display: block;
  width: 100%;
  padding: 0 32px;
  display: none;
  text-transform: capitalize;
}

#categroy-dropdown {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccccccc7;
  background-color: #fff;
  font-size: 16px;
  color: #333;

  /* Remove browser default styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Custom dropdown arrow */
  background-image: url("/assets/icons/downArrow.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;

  /* Space for arrow */
  padding-right: 40px;
  cursor: pointer;
}

.navbar {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
#load-more-blogs-btn-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
}
#load-more-blogs-btn{
  display: flex;
  align-items: start;
  gap: 4px;
  border: none;
  background-color:transparent;
  padding: 0.7rem 2rem;
  border: 1px solid #cccccccb;
  cursor: pointer;
}
#load-more-blogs-btn:hover{
  background-color:#cccccc33;
}
#load-more-blogs-btn>:nth-child(1){
font-size: 12px;
}
/* x-small mobiles */
@media (max-width: 400px) {
  .hero-heading-1 {
    font-size: 28px  !important;
  }
}
/* mobile */

@media (max-width: 480px) {
  .navbar{
    padding: 24px 20px;
    height: 90px;
  }
   #nav-icon{
  width: 130px;
  height: 40px;
}
  .page-1{
    padding-top: 90px;
 }
 .single-blog-container{
  flex-grow: 1;
  max-width: 100%;
 }
  .hero-section{
  /* border: 4px solid crimson; */
  padding: 10vh 0  6vh;
  top: 90px;
 }
 .hero-heading-1 {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  padding: 0 1rem;
 }
 .heading-container-2{
  margin-top:20px ;
 }
 .hero-heading-2{
  font-size: 18px;
  line-height: 1.3;
  padding: 0 1rem;
  /* display: inline; */
  text-align: center;
 }

 .blog-category-list{
  display: none;
 }


.all-blogs-list{
  padding-top: 1rem;
}
.blog-thumbnail{
  width: 367px;
  height: 12rem;
}
#blog-title{
  font-size: 1.3rem
}
.categroy-dropdown-container{
  display: block;
}
}

/* tablet */
@media (min-width: 481px  ) and (max-width:1023px ) {
 .page-1{
 /* padding: 25% 0; */
 }
 .hero-section{
      padding: 32vh 0 18vh;
 }
  .navbar{
    padding: 1.3rem 4rem 1.3rem 2rem;
    height: 80px;
  }
  #nav-icon{
  width: 12%;
  min-width: 80px;
}
.all-blogs-list{
  padding-top:2rem;
}
}

/* desktop */
@media (min-width: 1024px) {
  .page-1{
    /* padding: 8% 0 5%; */
  }
  .hero-section{
    /* padding: 14% 0 8%; */
    padding: 32vh 0 18vh;
  }
  .navbar{
    padding: 1.3rem 4rem 1.3rem 2rem;
    height: 80px;
  }
  #nav-icon{
  width: 10%;
  min-width: 110px;
}
.hero-heading-1{
  font-size: 4.5rem;
  font-weight: 800;
}
}

@media (min-width: 1500px) {
html,body{
  font-size: 25px;
}
}