---
layout: base.njk
title: "Home"
---


<section class="all-blogs-list-container">
 {% include "category-list.njk" %} 
<div class="all-blogs-list">
{% for post in blogs  %}
  <div class="single-blog-container">
  <a class="single-blog-link"  href="/{{ post.Slug }}">
   <img 
  class="blog-thumbnail"
  src="/assets/images/{{ (loop.index % 10) + 1 }}.webp" 
  alt="{{ post.Title }} - {{ post.Excerpt | safe }}"
  {% if loop.index > 2 %}
    loading="lazy"
  {% else %}
    loading="eager" fetchpriority="high"
  {% endif %}
>

  <div class="single-blog-text-container">
  <p id="blog-date">
  <span>{{ post.PublishedAt | date("MMMM d, yyyy") }}</span>
  <span>{{ post.ReadingTime }}</span>
  </p>
  <h1 id="blog-title">{{ post.Title | truncate }}</h1>
  <p id="blog-data-excerpt">{{ post.Excerpt | safe }}</p >
  <p id="read-more-btn">Read more <span>→</span></p>
  </div>
  </a>
  </div>
{% endfor %}

{% if blogs | length >12 %} 
  <div id="load-more-blogs-btn-container">
  <button id="load-more-blogs-btn"><span>↓</span> 
  <span>Load more blogs</span>
  </button>
  </div>
  {% endif %}
</div>
</section>
